bs4==0.0.1
Django==3.1.1
django-cors-headers==3.5.0
django-filter==2.3.0
djangorestframework==3.10.3
djangorestframework-jsonp==1.0.2
djangorestframework-simplejwt==4.4.0
django-queryset-csv==1.1.0
tldextract==2.2.3
lxml==4.5.2
requests==2.24.0
Markdown==3.2.2
ansi2html==1.5.2
tabulate==0.8.7
slackclient==2.9.1
csvkit==1.0.5
